
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Sobre Nós", sobre_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
      <li><a href="http://each.uspnet.usp.br/each/">EACH</a></li>
    </ul>
  </nav>
</footer>
