# encoding: UTF-8
<header>
  <% logoTCC = image_tag("logoTCC.png", :alt => "TCC-APP", :class => "round") %>
  <%= link_to logoTCC, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Início", root_path %></li>
      <li><%= link_to "Ajuda", ajuda_path %></li>
      <li><%= link_to "Entrar", '#' %></li>
    </ul>
  </nav>
</header>
